<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="10; url=/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wifi dvojitá zásuvka</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-sm-offset-5"><h3 class="text-primary text-center">A</h3>
					<a class="btn btn-block btn-lg btn-${class_btn_1}" href="?${reqvar_pin}=1${action_1}" role="button">${label_1}</a>
				</div>
			</div>
			<div class="row"><div class="col-sm-4 col-sm-offset-4"><hr></div></div>
			<div class="row"><div class="col-sm-6 col-sm-offset-3 text-right">Beží: ${uptime}</div></div>
			<div class="row"><div class="col-sm-6 col-sm-offset-3 text-right">Dátum: ${currDate}</div></div>
			<div class="row"><div class="col-sm-6 col-sm-offset-3 text-right">Štart: ${startDate}</div></div>
			<div class="row"><div class="col-sm-6 col-sm-offset-3 text-right">Verzia: ${version}</div></div>
		</div>
	</body>
</html>
